<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h3 class="footer-heading">Aroma e Shijes</h3>
                <p>Përjetoni kuzhinën e shijshme me një prekje tradicioni. Ambienti ynë elegant dhe gatimi i jashtëzakonshëm krijojnë momente të paharrueshme.</p>
                <div class="social-icons">
                    <a href="https://web.facebook.com/?_rdc=1&_rdr#"target="blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/"target="blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter-cl.vercel.app/login"target="blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <h3 class="footer-heading">Lidhje të Shpejta</h3>
                <a href="index.html" class="footer-link">Kryefaqja</a>
                <a href="about.html" class="footer-link">Rreth Nesh</a>
                <a href="contact.html" class="footer-link">Kontakti</a>
            </div>
            <div class="col-md-4 mb-4">
                <h3 class="footer-heading">Na Kontaktoni</h3>
                <ul class="footer-contact">
                    <li><i class="fas fa-map-marker-alt"></i> Komuna e Parisit,Tiranë</li>
                    <li><i class="fas fa-phone"></i> +355 69 422 5688</li>
                    <li><i class="fas fa-envelope"></i> aromaeshijes@gmail.com</li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2025 Aroma e Shijes | Të gjitha të drejtat e rezervuara</p>
        </div>
    </div>
</footer>